<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :password_digest %>
    <%= f.input :email %>
    <%= f.input :bio %>
    <%= f.input :birthday, as: :date, start_year: 1989 %>
    <%= f.input :location %>
    <%= f.input :alive %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
