<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
    <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <% if @user.bio.present? %>
    <%= @user.bio %>
  <% else %>
    <p class="text-muted">"None Given"</p>
  <% end %>
</p>

<p>
  <strong>Birthday:</strong>
  <% if @user.birthday.present? %>
    <%= @user.birthday %>
  <% else %>
    <p class="text-muted">"None Given"</p>
  <% end %>
</p>

<p>
  <strong>Location:</strong>
  <% if @user.location.present? %>
    <%= @user.location %>
  <% else %>
    <p class="text-muted">"None Given"</p>
  <% end %>
</p>

<p>
  <strong>Alive:</strong>
  <%= @user.alive %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
