<div class="col-md-6 col-md-offset-3">
  <p id="notice"><%= notice %></p>

  <% if @user.image_url.present? %>
    <%= image_tag @user.image_url, class: "img-circle", style: "max-width: 200px" %>
  <% else %>
    <%= image_tag "default-user-image.png", class: "img-circle", style: "max-width: 200px" %>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
      <%= @user.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <% if @user.bio.present? %>
      <%= @user.bio %>
    <% else %>
      <p class="text-muted">"None Given"</p>
    <% end %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <% if @user.birthday.present? %>
      <%= @user.birthday %>
    <% else %>
      <p class="text-muted">"None Given"</p>
    <% end %>
  </p>

  <p>
    <strong>Location:</strong>
    <% if @user.location.present? %>
      <%= @user.location %>
    <% else %>
      <p class="text-muted">"None Given"</p>
    <% end %>
  </p>

  <p>
    <strong>Alive:</strong>
    <%= @user.alive %>
    <% if @user.alive %>
      <%= content_tag :h1, "I am alive", class: 'text-success' %>
    <% else %>
      <%= content_tag :h1, "I am ZOMBIE!!", class: "text-success" %>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
